body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f10;
  color: #f5f5f5;
  font-family: "Playfair Display", serif;

  font-size: 16px; /* base */
}

body {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.screen {
  min-height: 100%;
  padding-bottom: 24px;
}
