body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0f10;
  color: #f5f5f5;
  font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}
